<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <h2>Registration form</h2>
<form action="register" method="post">
    {% csrf_token %}
 <input type="text" name="username" placeholder="Enter username"><br>
    <input type="text" name="first_name" placeholder="Enter first_name"><br>
     <input type="text" name="last_name" placeholder="Enter last_name"><br>
     <input type="email" name="Email" placeholder="Enter email address"><br>
    <input type="password" name="password" placeholder="Enter password"><br>
    <input type="password" name="password1" placeholder="Confirm password"><br>
    <input type="submit">
</form>
{% for i in messages %}
{{i}}
{% endfor %}
</body>
</html>